
<mat-accordion >
        <mat-expansion-panel *ngFor = "let post of posts$ | async " >
            <mat-expansion-panel-header>
              <mat-panel-title >
              <div>
               {{post.idPost}}- 
              </div>
              <div>
               {{post.title}}
              </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div>
                  <button mat-raised-button color="primary" (click)="removePost(post.id)">Delete Post</button>
                  <pre class="tab">     </pre>
                  <button mat-raised-button color="primary" (click)="addLikes(post.id,post.likes)">Like</button>
              </div>
             
              <h2 style="color:mediumpurple" *ngIf="post.likes!=0" >
                  {{post.likes}}
              </h2>
              {{post.body}}
              
          </mat-expansion-panel>
        </mat-accordion>