
<mat-accordion  *ngIf = "(authService.user | async)?.uid">
      <mat-expansion-panel *ngFor = "let post of posts " >
          <mat-expansion-panel-header>
            <mat-panel-title >
            <div>
             {{post.id}}- 
            </div>
            <div>
             {{post.title}}
            </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div>
                <button mat-raised-button color="primary" (click)="savePost(post.id,post.title,post.body)">Save Post</button>
                <h2 style = "color: lime" *ngIf = " onlyfor == post.id"> {{save}}</h2>
            </div>
            {{post.body}}
            <br>
            <div *ngFor = "let comment of comments">
                
                              <div *ngIf ="comment.postId == post.id" style="background: lightseagreen">
                                comment: {{comment.body}}
                              </div>          
                            </div>
        </mat-expansion-panel>
      </mat-accordion>